{% extends 'core/base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}
<div >

    <div>
         <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">YGH</h1>
    </div>
    <div>
        <h1 class="font-bold text-color-white text-4xl my-12">YGH Banking and Finance System</h1>
        <p class="leading-normal mb-8 bg-pink-rounded-2xl ">
            Welcome to YGH Banking and Finance Systems.
            You are in good hands .
            We are here to provide you with the service of online banking through business ,personal and savings accounts..



        </p>
    </div>
</div>

{% endblock %}