{% extends 'core/base.html' %}{% load static %}
{% block title %}About{% endblock %}
{% block content %}

<div>
 <h2>  Welcome to YGH Bank.</h2>

<h4>You are in Good Hands</h4>


 <p>
  This is our official website of banking and financial services.
Our website provides services to public by enabling a safe and secure banking .
Our website does provide community banking services that  create many remarkable achievements for our customers.
At YGH, bankers can unwaveringly commit to deeply understanding every intricacy of every customer’s financial relationship.
Building local relationships has strengthened our bank, and we have grown and continue to proudly serve families and businesses by helping them achieve their dreams and build better futures.
As a result, we have invested and will continue to invest in superior technology that creates a holistic digital banking experience that is user-friendly, mobile-centric and affords our customer the most modern banking conveniences.
We love it when our customers visit our branches. There is nothing more powerful than the in-person experience. We are committed to ensuring our customers have the best in-person and digital banking experience.
We are continually taking steps that afford our customers best-of-class self-service tools where they can receive real-time mobile alerts and notifications about their account activity 24/7.
 </p>
 <p>
  In the digital world, where users are increasingly glued to connected devices, banks target consumers through multiple online channels, including websites. It’s no longer enough for banks to roll out sites with simple designs that resemble each other. A unique bank website design has more chance to hook visitors, as people are looking for custom experiences and diversity.
 </p>
 <p>
  Computers, smartphones, and tablets are not the only means of accessing the Internet. Consumers also utilize other connected devices to visit the desired sites, including smartwatches and smart TVs.

Bank websites that support a multitude of the devices, OSs and browsers often encompass a responsive design. Such a tactic ensures a consistent user experience across all devices and browsers.
 </p>
 <p>
  for further details please refer the following link
  <a href="https://financialservices.gov.in/act-rule/Banking/Banking-Acts" style="color:red">Online Banking Acts - Department of Financial Services</a>
 </p>

</div>

{% endblock %}