
{% extends 'core/base.html' %} {% load static %} {% block head_title %} YGH Banking System{% endblock %} {% block content %}
<div>

    <div>
        <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">YGH</h1>
    </div>
    <div>
        <h1 class="font-bold text-4xl my-4">YGH Banking and Finance System</h1>
        <h1>
            YGH
            ABOUT US:
        </h1>

           <h3>
    Quick Contact</h3>
<h4>
Corporate Office – Postal Address</h4>
<p class="leading-normal mb-4">YGH Bank, Corporate Office,
PB No: 5555, 254-260, Green fields Vaddeshwaram,
Guntur, Andhra Pradesh – 522502</p>

<h4>Corporate Office: Phone Number: 123 789 4561</h4>

<p class="leading-normal mb-4">Contact Details of Branches: Branch contact details are given at ‘ Branch Network ‘ section »

National Helpline No.: 1800 425 00 000</p>

<p>functioning all 24 hours 365 days to attend the queries received from our customers</p>

        </p>
    </div>
</div>

{% endblock %}