{% extends 'core/base.html' %} {% load static %} {% block head_title %} YGH Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">YGH</h1>
    </div>
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70">
        <h1 class="font-bold text-4xl my-4">YGH Banking and Finance System</h1>
        <p class="leading-normal mb-4 bg-white rounded-2xl">
            YGH-You are in Good Handzz
            <br>
        <br>
            GLAD THAT YOU ARE HERE.
            <br>
        <br>
            HOPE YOU HAVE A BETTER EXPERIENCE
        </p>

    </div>
</div>

{% endblock %}